.product-container{
    margin-left: 100px;
    margin-right: 100px;
}

.portable-inline{
    display: inline;
    margin-bottom: 20px;

}

.instruction-image{
    margin-bottom: 20px;
    max-width: 500px;
}

.table-img{
    width: auto;
    height: 300px;
}
.portable-table{
    font-size: medium;
    padding: 20px;
    align-content: center;
    align-items: center;
}

td{
    text-align: center;
}

.sub-heading-product{
    font-weight: bold;
    font-size: 20px;
    display: block;
    float: top;
}
.heading-text{
    font-weight: bolder;
    font-size: 50px;
}
.description-text{
    font-size: 15px;
    margin-bottom: 20px;
}

.last-element{
    margin-bottom: 70px;
    list-style-type:none;
}


@media (min-width: 0px) and (max-width: 1275px) {
    .portable-inline{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 40px;
    }
}

.red-text{
    color: red;
    display: inline;
}

.blue-text{
    color: blue;
    display: inline;
}


@media (min-width: 0px) and (max-width: 750px) {
    .product-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}