.product-icon{
    width: auto;
    max-width: 300px;
    height: 150px;
}

.product-page-heading{
    font-weight: bolder;
    font-size: 50px;
    color: #fc6100;
}

.product-text{
    font-size: medium;
    margin-left: 35px;
}

.product-entry{
    display: inline-block;
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding: 10px;
    background: #fff;
    border: 1px solid #C8C8C8;

}

.hardware-container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-entry-pc{
    display: inline-block;
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding: 10px;
    background: #fff;
    border: 1px solid #C8C8C8;

}

@media (min-width: 0px) and (max-width: 750px) {
    .product-entry{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .product-entry-pc {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    }